# create a service file with diff params and copy it in setup.sh
[Unit]
Description=TinyCam Service

[Service]
Type=notify
ExecStart=/usr/bin/python %h/tinycam/ai_camera.py
WorkingDirectory=%h/tinycam/images
WatchdogSec=15
RestartSec=10
Restart=on-failure

Environment=PYTHONUNBUFFERED=1
# The threshold to decide when a frame has changed enough to qualify as motion
Environment=TINYCAM_THRESHOLD=9
# Boolean: whether or not to stream live video
# This is not yet implemented
Environment=TINYCAM_STREAM=0
# The minimum length of captured video, in seconds
Environment=TINYCAM_MIN_VIDEO_LEN=10
# The number of consecutive frames of motion before a capture is triggered or stopped
Environment=TINYCAM_TRIGGER=3
# The camera name that will appear in the UI and in tagging operations
Environment=TINYCAM_CAMERA_NAME=crowcam
# The API server used to tag events
Environment=TINYCAM_API_SERVER=http://localhost:3000
# A comma delimited list of tags to ignore for this camera
Environment=TINYCAM_EXCLUDED_TAGS=car,book



[Install]
WantedBy=default.target
