[Unit]
Description=TinyCam Service

[Service]
ExecStart=/usr/bin/python %h/tinycam/motion.py
WorkingDirectory=%h/tinycam/images
Environment=PYTHONUNBUFFERED=1
Restart=on-failure

[Install]
WantedBy=default.target