[Unit]
Description=Python Demo Service

[Service]
ExecStart=/usr/bin/python /home/kinch/motion.py
WorkingDirectory=/home/kinch/images
Environment=PYTHONUNBUFFERED=1
Restart=on-failure

[Install]
WantedBy=default.target